html{
    font-size: 30px;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

a, a:visited{
    text-decoration: none;
    color: white;
}

.header{
    padding: 20px;
}

.header-content{
    display: flex;
    justify-content: space-around;
}



.zoey {
    padding: 40px;
}

.zoey-content {
    display: flex;
    justify-content: flex-end;
}

.widgets-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    height: 20vh;
}

.widgets-content {
    display: flex;
    gap: 40px; 
}

.widget {
    display: none;
    padding: 20px 40px; 
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    background-color: #1e1e1e; 
    color: #d1d1d1;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.widget.visible {
    display: block;
}

.widget:hover {
    border-color: #4a90e2; 
    color: #4a90e2;
    background-color: #2a2a2a; 
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.7); 
}

.widget:active {
    transform: scale(0.98);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.8);
}

#popup-text {
  max-height: 80vh; 
  overflow-y: auto; 
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #1e1e1e;
    color: #d1d1d1;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    width: 350px;  /* Ajuste de largura para acomodar a tabela corretamente */
    text-align: center;
    position: relative; /* Importante para o alinhamento do botão */
    margin: 0 auto;
    width: 80%;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #d1d1d1;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    z-index: 10; /* Garante que o botão esteja acima de outros elementos */
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #d1d1d1;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #4a90e2;
}

.popup-overlay.active {
    display: flex;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* 
************************************************************************************************************************
************************************************************************************************************************
******************************************************* AÇÕES **********************************************************
************************************************************************************************************************
************************************************************************************************************************
************************************************************************************************************************
*/
.stock-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1f1f1f; 
    color: #e0e0e0; 
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.stock-table th {
    background-color: #2b2b2b;
    color: #4a90e2; 
    text-align: center;
    padding: 12px;
    font-size: 14px;
}

.stock-table td {
    padding: 12px;
    border-bottom: 1px solid #333;
    font-size: 14px;
}

.stock-table tr:last-child td {
    border-bottom: none;
}

.stock-table tbody tr:hover {
    background-color: #292929; 
    transition: background-color 0.3s ease;
}


/* 
************************************************************************************************************************
************************************************************************************************************************
******************************************************* BIBLIA **********************************************************
************************************************************************************************************************
************************************************************************************************************************
************************************************************************************************************************
*/
.verse-container {
  font-family: 'Arial', sans-serif;
  color: #e0e0e0;
  text-align: center;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.verse-container blockquote {
  font-style: italic;
  font-size: 1.2rem;
  color: #e0e0e0;
  border-left: 4px solid #2196F3;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.bible-book {
  font-size: 1.1rem;
  color: #2196F3;
  font-weight: bold;
  margin-top: 10px;
}

.bible-interpretation {
  font-size: 1rem;
  color: #e0e0e0;
  line-height: 1.6;
  margin-top: 15px;
  text-align: justify;
}


/* 
************************************************************************************************************************
************************************************************************************************************************
******************************************************* NEWS **********************************************************
************************************************************************************************************************
************************************************************************************************************************
************************************************************************************************************************
*/
.news-container {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #1f1f1f;
}

.news-title a {
  font-size: 1.2em;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

.news-title a:hover {
  text-decoration: underline;
}

.news-source {
  font-size: 0.9em;
  color: #d3cccc;
  margin: 5px 0;
}

.news-description {
  font-size: 1em;
  color: #e0e0e0;
  margin: 10px 0;
}

.news-date {
  font-size: 0.8em;
  color: #888;
  margin-bottom: 10px;
}

.news-image {
  width: 50%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

/* 
************************************************************************************************************************
************************************************************************************************************************
******************************************************* Soccer **********************************************************
************************************************************************************************************************
************************************************************************************************************************
************************************************************************************************************************
*/
.soccer-table-container {
  margin-top: 20px;
  text-align: center;
}

.soccer-table-title {
  font-size: 20px;
  font-weight: bold;
  color: #e0e0e0; /* Cor de título similar ao texto da tabela */
  margin-bottom: 15px;
  text-transform: uppercase;
}

.soccer-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1f1f1f; /* Cor de fundo escura */
  color: #e0e0e0; /* Cor clara para o texto */
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.soccer-table th {
  background-color: #2b2b2b; /* Fundo escuro para os cabeçalhos */
  color: #4a90e2; /* Cor azul clara para os textos */
  text-align: center;
  padding: 12px;
  font-size: 14px;
}

.soccer-table td {
  padding: 12px;
  border-bottom: 1px solid #333;
  font-size: 14px;
}

.soccer-table tr:last-child td {
  border-bottom: none;
}

.soccer-table tbody tr:hover {
  background-color: #292929;
  transition: background-color 0.3s ease;
}

.soccer-table tbody tr:nth-child(even) td {
  background-color: #292929; 
}

.soccer-table tbody tr:nth-child(odd) td {
  background-color: #1f1f1f; 
}

.soccer-table td a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.2s ease;
}

.soccer-table td a:hover {
  color: #e0e0e0;
}
